extends layout

mixin mainCard(imdb_title_id, original_title, year, duration, country, language, genre, description, avg_vote, votes, reviews_from_users, reviews_from_critics, metascore)
  div(class="main card box")
    h1(class="card-title")= original_title
    div
      ul
        li(class="card-text show-dividers::before")= year
        li(class="card-text show-dividers")= (Math.floor(duration/60)==0?"":Math.floor(duration/60)+" hrs ")+(duration%60==0?"":duration%60+" min")
        li(class="card-text show-dividers")= country
        li(class="card-text show-dividers")= language
    div
      p(class="card-text")= genre
    div
      p(class="card-text")= description
    div(class="card-rating")
      svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ipc-icon ipc-icon--star AggregateRatingButton__RatingIcon-sc-1ll29m0-4 iAOIoP" id="iconContext-star" viewBox="0 0 24 24" fill="currentColor" role="presentation")
        path(d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z")      
      div(class="text-muted")= avg_vote
      div(class="text-muted")= "/10"
      div(class="text-muted show-dividers")= (votes?(votes>1000000?Math.floor(votes/1000000 * 10)/10+"M":votes>1000?Math.floor(votes/1000)+"K":votes):"NA") + " votes"
    div
      ul
        li(class="card-text show-dividers::before")= (reviews_from_users?(reviews_from_users>1000000?Math.floor(reviews_from_users/1000000 * 10)/10+"M":reviews_from_users>1000?Math.floor(reviews_from_users/1000 * 10)/10+"K":reviews_from_users):"NA") + " User reviews"
        li(class="card-text show-dividers")= (reviews_from_critics?(reviews_from_critics>1000000?Math.floor(reviews_from_critics/1000000 * 10)/10+"M":reviews_from_critics>1000?Math.floor(reviews_from_critics/1000 * 10)/10+"K":reviews_from_critics):"NA") + " Critic reviews"
        li(class="card-text show-dividers")
          div(class="metascore")= metascore?metascore:"NA"
          div(class="metascore-label")= "Metascore"
        li(class="card-text show-dividers")
          input(type="button" class="cast-link" onclick=`document.querySelectorAll('.cast.card.box.${imdb_title_id}')[0].style.display=='block'?(document.querySelectorAll('.cast.card.box.${imdb_title_id}')[0].style.display='none', document.querySelectorAll('.cast.name.box.${imdb_title_id}').forEach((div) => {div.style.display='none'})):document.querySelectorAll('.cast.card.box.${imdb_title_id}')[0].style.display='block'` value="Cast >>")

mixin castCard(imdb_title_id, principals)
  div(class=`cast card box ${imdb_title_id}` style="display:none;")
    h2(class="card-title")= "Cast & Crew"
    table
      each principal in principals
        tr
          td
            div(onclick=`var thisDiv=document.querySelectorAll('.cast.name.box.${imdb_title_id}.${principal.imdb_name_id}')[0].style.display; document.querySelectorAll('.cast.name.box.${imdb_title_id}').forEach((div) => {div.style.display='none'}); thisDiv=='block'?document.querySelectorAll('.cast.name.box.${imdb_title_id}.${principal.imdb_name_id}')[0].style.display='none':document.querySelectorAll('.cast.name.box.${imdb_title_id}.${principal.imdb_name_id}')[0].style.display='block'`) #{principal.imdb_name}
          td #{principal.category}
          td #{principal.characters}
  each principal in principals
    div(class=`cast name box ${imdb_title_id} ${principal.imdb_name_id}` style="display:none;")
      h2(class="card-title") #{principal.imdb_name_details.name}
      table
        tr
          td Birth Name
          td #{principal.imdb_name_details.birth_name}
        tr
          td Height
          td #{principal.imdb_name_details.height}
        tr
          td Birth Details
          td #{principal.imdb_name_details.birth_details}
        tr
          td Date of Birth
          td #{principal.imdb_name_details.date_of_birth}
        tr
          td Place of Birth
          td #{principal.imdb_name_details.place_of_birth}
        if principal.imdb_name_details.death_details
          tr
            td Death Details
            td #{principal.imdb_name_details.death_details}
        if principal.imdb_name_details.date_of_death
          tr
            td Date of Death
            td #{principal.imdb_name_details.date_of_death}
        if principal.imdb_name_details.place_of_death
          tr
            td Place of Death
            td #{principal.imdb_name_details.place_of_death}
        if principal.imdb_name_details.reason_of_death
          tr
            td Reason of Death
            td #{principal.imdb_name_details.reason_of_death}
        tr
          td Spouses
          td #{principal.imdb_name_details.spouses_string}
        tr
          td No. of Spouses
          td #{principal.imdb_name_details.spouses}
        tr
          td No. of Divorces
          td #{principal.imdb_name_details.divorces}
        tr
          td No. of Children
          td #{principal.imdb_name_details.children}

block content
  div(class="loading" style="display:none;") Loading&#8230;
  h1
    a(href="/" target="_self")= pagetitle
  hr
  div(class="search box") Search a movie...
    form(action="/search" method="POST")
      table
        tr
          td
            label(for='txtTitle') Title
          td
            input(type='text' name='title' id='txtTitle' placeholder='Matrix' value=title title='Enter movie name or words to search for...')
        tr
          td
            label(for='numYear') Year
          td
            input(type='number' name='year' id='numYear' placeholder='1999' min=1900 max=2099 value=year title='Select the year of release...')
          //tr
          td
            label(for='numDuration') Duration
          td
            input(type='number' name='duration' id='numDuration' placeholder='136' min=0 max=450 step=10 value=duration title='Enter the duration of the movie (more than x minutes)...')
            span &nbsp;&nbsp;or more
        tr
          td
            label(for='txtGenre') Genre
          td
            select(name='genre' id='txtGenre' placeholder='Sci-Fi' title='Select the genre of the movie (hold Control to select multiple)...' multiple)
              if typeof genres === "undefined"
                - genres = ''
              each gen in genres
                if typeof genreSelected === "undefined"
                  - genreSelected = ''
                if genreSelected
                  if genreSelected.find(element => element == gen)
                    option(value=gen selected) #{gen}
                  else
                    option(value=gen) #{gen}
                else
                  option(value=gen) #{gen}
          td
            label(for='selLanguage') Language
          td
            select(name='language' id='selLanguage' placeholder='English' title='Select the language of the movie (hold Control to select multiple)...' multiple)
              if typeof languages === "undefined"
                - languages = ''
              each lang in languages
                if typeof languageSelected === "undefined"
                  - languageSelected = ''
                if languageSelected
                  if languageSelected.find(element => element == lang)
                    option(value=lang selected onclick="this.selected?this.selected = !this.selected;") #{lang}
                  else
                    option(value=lang onclick="this.selected?this.selected = !this.selected;") #{lang}
                else
                  option(value=lang onclick="this.selected?this.selected = !this.selected;") #{lang}
        tr
          td
            label(for='numRating') Rating
          td
            input(type='number' name='rating' id='numRating' placeholder='8.7' min=0 max=10 step=0.1 value=rating title='Select the rating of the movie (more than x rating)...')
            span &nbsp;&nbsp;or more
          td
          td
            input(type='submit' id='btnSearch' value='Search' onclick='document.querySelectorAll(".loading")[0].style.display="block";' title='Search the above options (max 10 results)...')
            span &nbsp;&nbsp;max 10

  div(class="card-deck-all")
    each item in movies
      div(class="card-deck")
        +mainCard(item.imdb_title_id, item.original_title, item.year, item.duration, item.country, item.language, item.genre, item.description, item.avg_vote, item.votes, item.reviews_from_users, item.reviews_from_critics, Math.floor(item.metascore))
        +castCard(item.imdb_title_id, item.principals)
